Language tag for non-linguistic content

https://www.w3.org/TR/2025/CRD-dapt-20250801/#example-24

In the example, `daptm:langSrc` seems to be empty for non-linguistic content, but there's a tag for it, `zxx`, which you could use. Is there any specific reason to leave this empty?

There's no specific reason - I think we hit on the "empty" solution as an "obvious" one, but since `zxx` exists, we should probably use it instead.

[RFC 5646 §4.1 bullet 5, 3rd sub-bullet](https://www.rfc-editor.org/rfc/rfc5646.html#section-4.1):
>The 'zxx' (Non-Linguistic, Not Applicable) primary language
subtag identifies content for which a language classification
is inappropriate or does not apply.  Some examples might
include instrumental or electronic music; sound recordings
consisting of nonverbal sounds; audiovisual materials with no
narration, dialog, printed titles, or subtitles; machine-
readable data files consisting of machine languages or
character codes; or programming source code.

This appears to be exactly coincident with our "empty" use case.

Adding to the agenda for discussion.

> [@nigelmegitt](https://github.com/nigelmegitt) I'd actually wanted to ask about non-text video images one within the WG. We had some discussion related to artificial language to be used for interpretation of context of video, and I'm personally not sure whether we should call as [undetermined](https://www.w3.org/International/questions/qa-no-language#undetermined) or non-linguistic. Of course, there should be cases of `zxx` is suitable, such that some non-text images like logo image used within timed-text could be marked as `zxx` (or even with some language tag if there is localized versions?).

@himorin please could you explain the scenario more? I'm not sure if I understand properly, but if the artificial language is describing non-linguistic content in the video image then `daptm:langSrc="zxx"` makes sense I think, but the `xml:lang` of that content would _not_ be `zxx` of course.

We discussed this during the i18n WG teleconference on October 16th. Having a value `und` as the default is different from having an empty value that means the language is unclear. If a value exists, it will be inherited. The WG prefers to use empty to represent "the language is unclear". In addition, `und` has semantics in CLDR and some other places, such as representing a "root locale".

I'm still unclear what the CLDR's additional semantics are for `und`, and if they have any impact or relevance here. Searching the CLDR documentation didn't really help, so any specific pointers would be helpful.

Unless we find a problem with `und` I'm thinking we should keep it: it seems that it _already_ includes the meaning "the language is unclear".

For reference, RFC5646 says this about `und`:

```
       *  The 'und' (Undetermined) primary language subtag identifies
          linguistic content whose language is not determined.  This
          subtag SHOULD NOT be used unless a language tag is required
          and language information is not available or cannot be
          determined.  Omitting the language tag (where permitted) is
          preferred.  The 'und' subtag might be useful for protocols
          that require a language tag to be provided or where a primary
          language subtag is required (such as in "und-Latn").  The
          'und' subtag MAY also be useful when matching language tags in
          certain situations.
```

The DAPT spec text mirrors the SHOULD NOT, but it isn't clear to me what "omitting" means - I take it to mean not having the attribute at all, but it could potentially be interpreted as allowing an empty value.

@nigelmegitt asked:
> but it isn't clear to me what "omitting" means - I take it to mean not having the attribute at all, but it could potentially be interpreted as allowing an empty value

As the author of 5646... it means using the empty value. We had in mind HTML's `lang` attribute, whose value is inherited down from parent elements unless/until overridden. Using the empty string stops the inheritance chain without putting some other value in place. But you're right that it can, in other contexts, also mean omitting the metadata field altogether.

> I'm still unclear what the CLDR's additional semantics are for und, and if they have any impact or relevance here. Searching the CLDR documentation didn't really help, so any specific pointers would be helpful.

CLDR uses the tag `und` for the "root" locale (the locale at the base of the locale data hierarchy).

So just to be clear, the previous default of empty was actually the right one, and `und` really has no place in the spec at all? That would be a reversion to part of #322.

We felt that it is better to use an empty default value to indicate that the language is unclear, rather than using an empty value to indicate non-linguistic content (`zxx`), so it is a bit different from the initial state.